@font-face {
  font-family: rubik;
  src: url(./src/assets/fonts/Rubik-Regular.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
*:not(.fa) {
  font-family: rubik;
}
:root {
  --button-color: #af45ff;
  --link-hover-color: #0045ff;
  --review-orange: gold;
  --header-color: #021033;
}
html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}
body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: var(--button-color);
}
button {
  cursor: pointer;
}
input,
button,
select,
textarea {
  font: 1.6rem helvetica;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
}
input:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: var(--button-color);
}
button:disabled {
  cursor: not-allowed;
}
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
}
.spinner.active {
  display: flex;
}
.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay > div {
  background-color: white;
  color: #000000;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: fit-content;
  height: auto;
}
.overlay > div > * {
  margin: 2rem;
}
.fw {
  width: 100%;
}
.success {
  color: #40c040;
}
.error {
  color: #c04040;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--header-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: white;
  text-decoration: none;
  padding-right: 1rem;
}
.links a {
  background-color: var(--button-color);
  padding: 5px;
  border-radius: 5px;
}
.links a:hover {
  background-color: white;
}
header a:hover {
  color: var(--button-color);
}
.brand a {
  font-weight: bold;
  font-size: 3rem;
  padding-left: 1rem;
}
#main-container {
  margin-bottom: 20px;
}
footer {
  background-color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* Products */
.products-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
select {
  text-align-last: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.products li {
  flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
}
.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #abaaac00;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  padding: 0 10px;
  box-shadow: 1px 2px 10px 1px #6f6f6f87;
  transition: 0.2s ease-in-out;
}
.product:hover {
  box-shadow: 1px 2px 10px 4px #6f6f6f87;
  border-radius: 20px;
}
.product img {
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 2rem;
}
.product-name {
  line-height: 2.2rem;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2rem;
}
.product-price span {
  font-size: 1.2rem;
}
/* Rating */
#rating {
  text-align: center;
}
.review-control {
  border-radius: 6px;
  background-color: rgba(223, 223, 223, 0.422);
  padding: 4px;
  margin-right: 2px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}
.review-control:active {
  background-color: rgba(223, 223, 223, 0.7);
}
.review-delete {
  color: rgba(255, 0, 0, 0.516);
}
.review-delete:active {
  color: red;
}
.review-edit {
  color: rgba(0, 0, 0, 0.7);
}
.review-edit:active {
  color: black;
}
.rating {
  color: var(--review-orange);
  font-size: 1.8rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}
.content {
  padding: 1rem;
}

/* Product Details */
.welcome-image {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  padding: 10px;
}

.back-to-home-page {
  height: 30px;
  width: fit-content;
  background-color: var(--button-color);
  padding: 5px;
  border-radius: 10px;
}
.back-to-home-page a:hover {
  color: black;
}
.details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.details-image {
  flex: 2 1 50rem;
}
.details-image img {
  max-width: 60rem;
  width: 100%;
}
.details-info,
.details-action {
  /* flex: 1 1 30rem; */
}
.details-info ul,
.details-action ul {
  padding: 0;
  list-style-type: none;
}
.details-info h1 {
  font-size: 2rem;
  margin: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
/* Cart */
.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}
.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 1rem;
  list-style-type: none;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  text-align: right;
}
.cart-name > div {
  padding: 1rem;
}
.cart-list h3 {
  margin: 0;
}
.cart-list button,
.cart-list select {
  font-size: 1.3rem;
  padding: 0.5rem;
}
/* Form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.form-items {
  display: flex;
  flex-direction: column;
  width: 50rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-items li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form-container h1 {
  font-size: 2.5rem;
}
/* Checkout */
.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  color: #f08000;
  border-top-color: #f08000;
}
/* Order */
.order {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.order h2 {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.order .cart-list-container {
  padding: 0;
}
.order-info {
  flex: 3 1 60rem;
}
.order-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.order-info > div:first-child {
  margin-top: 0;
}
.order-info > div > div {
  padding: 1rem;
}
.order-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.order-action > ul {
  padding: 0;
  list-style-type: none;
}
.order-action li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.order-action .total {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
/* Profile */
.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.profile-info {
  flex: 1 1 20rem;
}
.profile-orders {
  flex: 3 1 60rem;
  margin-left: 1rem;
}

table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
td {
  padding: 0.5rem;
}
/* Dashboard */
.dashboard {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.dashboard h1 {
  font-size: 3rem;
  margin: 1rem 0;
}
.dashboard-menu {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
}
.dashboard-menu ul {
  padding: 0;
}
.dashboard-menu a {
  display: flex;
  padding: 1rem;
  padding-left: 2rem;
  justify-content: space-between;
}
.dashboard-menu a:hover {
  background-color: #af45ff30;
}
.dashboard-menu li.selected a {
  background-color: #ae45ff52;
  color: white;
  font-weight: bolder;
}
.dashboard-content {
  flex: 4 1 80rem;
  padding: 1rem;
}
.order-list button,
.product-list button {
  font-size: 1.3rem;
  padding: 0.5rem;
}
.tr-action {
  width: 10rem;
}
.summary-items {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.summary-items > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  background-color: #e0e0e0;
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}
.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}
.charts {
  display: flex;
  justify-content: space-between;
}
.charts > div {
  flex: 1;
}
/* search */

.search {
  width: 40%;
}
form.search-form input[type='text'] {
  float: left;
  width: 80%;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
form.search-form button {
  float: left;
  width: 40px;
  background: var(--button-color);

  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
form.search-form button:hover {
  background: #0b7dda;
}
/* Clear floats */
form.search-form::after {
  content: '';
  clear: both;
  display: table;
}

/* Aside */
aside {
  position: fixed;
  width: 30rem;
  background-color: white;
  height: 100%;
  z-index: 1;
  transform: translateX(-30.1rem);
  transition: all 0.5s;
  border-right: 0.1rem #808080 solid;
}
aside.open {
  transform: translateX(0);
}
.aside-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.5rem 1rem 2rem;
  color: #808080;
}

.aside-close-button {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
}
ul.categories {
  padding: 0;
}
.categories > li {
  list-style-type: none;
}
.categories > li > a {
  display: flex;
  padding: 1rem;
  padding-left: 2rem;
  justify-content: space-between;
}
.categories > li > a > span {
  font-size: 1.4rem;
  color: #808080;
}
.categories > li > a:hover span {
  color: #444444;
}
.categories > li > a:hover {
  background-color: #f0f0f0;
  color: #444444;
}

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* review */
.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.ct-chart-pie .ct-label {
  font-size: 20px;
}

/* news */
.news {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.news li {
  flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
}
.new {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #af45ff14;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  padding: 0 10px;
  box-shadow: 1px 2px 10px 1px #6f6f6f87;
}
.new img {
  max-height: 30rem;
  max-width: 28rem;
  margin-top: 2rem;
}
.news li:nth-child(odd) .new img {
  border-radius: 15px 35px;
}
.news li:nth-child(even) .new img {
  border-radius: 35px 15px;
}
.new-name {
  line-height: 2.2rem;
}
.new-brand {
  font-size: 1.2rem;
  color: #808080;
}
.video-container {
  height: 10%;
  width: 50%;
  border-radius: 20px;
  display: flex;
  margin: auto;
  margin: 10px auto;
}
.canvas-image {
  height: 10%;
  width: 20%;
  border-radius: 20px;
  display: flex;
  margin: auto;
  padding: 10px 0;
}
.view-multi-column {
  display: flex;
  text-shadow: 2px 2px #af45ff40;
  font-style: italic;
  font-size: medium;
  column-count: 3;
  column-gap: 20px;
  padding: 20px;
  background-color: #b3afaf66;
  color: #0000009e;
  border-radius: 20px;
  margin: 0px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}
.view-multi-column p {
  margin: 5;
}
.view-multi-column::before,
.view-multi-column::after {
  content: '';
  flex: 1;
}
@media screen and (max-width: 768px) {
  .view-multi-column {
    column-gap: 10px;
  }
}

/* Loading spinner */
.spinner {
  width: 300px;
  height: 300px;
  font-size: 2rem;
  overflow: hidden;
  position: fixed;
  animation: text-color 2s ease-in-out infinite alternate;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
  animation: rotate var(--duration) var(--timing) infinite;
  pointer-events: none;
}

.spinner-sector-red {
  border-top-color: lightcoral;
  --duration: 1.5s;
  --timing: ease-in-out;
}

.spinner-sector-blue {
  border-left-color: lightblue;
  --duration: 2s;
  --timing: ease-in;
}

.spinner-sector-green {
  border-right-color: lightgreen;
  --duration: 2.5s;
  --timing: ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-color {
  0% {
    color: rgba(0, 0, 0, 3);
  }

  50% {
    color: rgba(0, 0, 0, 0.5);
  }

  100% {
    color: rgba(0, 0, 0, 0.3);
  }
}

.errorMsg {
  color: #c04040;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
